<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.center{
			margin-left: 30%;
			margin-right: 30%;
		}
	</style>
</head>
<body>
	<div class="center">
		<img src="https://lh5.googleusercontent.com/XepuXID28F62OER98XSdYnVkYh09-VPj26wMFmnrxssKU6bVimAR8v4N7bVjbsAIXbw37EFGZf27JnRO6HrqN1gs98V5Nao7yA0LjXryRl-LuScJLxPbJzkWyzRoFK-KIcN3q4ax">
	</div>
</body>
</html>